@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section htmlstyle {
    <link href="~/assets/css/btn.css" rel="stylesheet" />
    <link href="~/assets/css/RunningTitle.css" rel="stylesheet" />
}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
            <div class="col-xl-6 col-lg-8">
                <h1>Powerful Academic Solutions With MB</h1>
                <h2 style="color: #ffc451; font-style: italic;">Your Path to Academic Excellence Starts Here!</h2>
            </div>
        </div>

        <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
            <div class="runningTitle-container">
                <h2>I make sure my assignments are <span class="auto-type"></span></h2>
            </div>
            <button class="btn-hover">
                Find out more!
            </button>
        </div>
    </div>
</section><!-- End Hero -->
<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up" style="margin-top:50px;">

        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                <img src="~/assets/img/ins1.jpg" class="img-fluid" alt="" style="border-radius: 5px;">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
                <h3>Welcome to my Tutoring Services Company</h3>
                <p class="fst-italic">
                    Empowering Students, Excelling Together!
                </p>
                <ul>
                    <li><i class="ri-check-double-line"></i> My purpose is to assist students in achieving high scores by providing exceptional academic support.</li>
                    <li><i class="ri-check-double-line"></i> I aim to provide students with valuable reference documents to enhance their learning and research capabilities..</li>
                    <li><i class="ri-check-double-line"></i> By utilizing my services, students can gain in-depth knowledge and insights to further enrich their educational journey..</li>
                </ul>
                <p>
                    I'm the co-founder of the premier platform for University of Greenwich students, offering top-notch assignment assistance. With a dedicated team, I deliver high-quality, tailored assignments that meet university standards. With my prompt service and commitment to excellence, I'm here to support your academic success. Trust me for reliable guidance at the University of Greenwich.
                </p>
            </div>
        </div>

    </div>
</section><!-- End About Section -->
<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Subjects</h2>
            <p>Check our Hottest subjects</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div style=" width: 415px;" class="icon-box">
                    <div class="icon"><i class="bx bxl-dribbble"></i></div>
                    <h4><a href="">AEG115</a></h4>
                    <p>Academic English for non-business</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <div style=" width: 415px;" class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4><a href="">SSLG102</a></h4>
                    <p>	Study skills for University success</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
                <div style=" width: 415px;" class="icon-box">
                    <div class="icon"><i class="bx bx-tachometer"></i></div>
                    <h4><a href="">1622</a></h4>
                    <p>	Database Design & Development</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                <div style=" width: 415px;" class="icon-box">
                    <div class="icon"><i class="bx bx-world"></i></div>
                    <h4><a href="">1633</a></h4>
                    <p>Website Design & Development</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
                <div style=" width: 415px;" class="icon-box">
                    <div class="icon"><i class="bx bx-slideshow"></i></div>
                    <h4><a href="">1631</a></h4>
                    <p>	Software Development Life Cycles</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                <div style=" width: 415px;" class="icon-box">
                    <div class="icon"><i class="bx bx-arch"></i></div>
                    <h4><a href="">WEBG301</a></h4>
                    <p>Project Web</p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Services Section -->
<!-- ======= Team Section ======= -->
<section id="team" class="team">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Team</h2>
            <p>Check our Team</p>
        </div>

        <div class="row">

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <div class="member-img">
                        <img src="~/assets/img/team/Minh.png" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Bùi Minh</h4>
                        <span>Founder</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="200">
                    <div class="member-img">
                        <img src="~/assets/img/team/Minh.png" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Sarah Jhonson</h4>
                        <span>Product Manager</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="300">
                    <div class="member-img">
                        <img src="~/assets/img/team/Minh.png" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>William Anderson</h4>
                        <span>CTO</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="400">
                    <div class="member-img">
                        <img src="~/assets/img/team/Minh.png" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Amanda Jepson</h4>
                        <span>Accountant</span>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Team Section -->


<section id="contact" class="contact">
    <div class="container aos-init aos-animate" data-aos="fade-up" style="margin-bottom: 20px;">

        <div class="section-title">
            <h2>Contact</h2>
            <p>Contact Us</p>
        </div>

        <div>
            <iframe style="border:0; width: 100%; height: 380px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.367353139914!2d108.24568417500547!3d16.09828678458551!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314217fadfbb915b%3A0x655fb08d5065e8a8!2zNzggTMOqIFThuqVuIFRydW5nLCBUaOG7jSBRdWFuZywgU8ahbiBUcsOgLCDEkMOgIE7hurVuZywgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1686973145690!5m2!1svi!2s"></iframe>
        </div>
    </div>
</section>


<!-- CDN of running words -->
<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
<!-- JS of running words -->
<script>
    var typed = new Typed(".auto-type", {
        strings: ["organized structure", "logical flow", "proper formatting", "user-friendly layout", "clear and concise writing"],
        typeSpeed: 70,
        backSpeed: 35,
        loop: true
    })
</script>