@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section htmlstyle {
    <link href="~/assets/css/btn.css" rel="stylesheet" />
    <link href="~/assets/css/RunningTitle.css" rel="stylesheet" />
}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" @*data-aos="fade-up"*@>

        <div class="row justify-content-center" @*data-aos="fade-up" data-aos-delay="150"*@>
            <div class="col-xl-6 col-lg-8">
                <h1>Powerful Academic Solutions With MB</h1>
                <h2 style="color: #ffc451; font-style: italic;">Your Path to Academic Excellence Starts Here!</h2>
            </div>
        </div>

        <div class="row gy-4 mt-5 justify-content-center" @*data-aos="zoom-in" data-aos-delay="250"*@>
            <div class="runningTitle-container">
                <h2>I make sure my assignments are <span class="auto-type"></span></h2>
            </div>
            <button class="btn-hover">
                Scroll to find out more!
            </button>
        </div>
    </div>
</section><!-- End Hero -->
<!-- ======= About Section ======= -->
<section id="about" class="about" style="margin-top:70px; margin-bottom:50px;">
    <div class="container" @*data-aos="fade-up"*@ style="margin-top:50px;">

        <div class="row" style="margin-bottom: 100px; text-align: center; margin: auto; justify-content: center;">
            <div style="width:fit-content;" class="col-lg-6 order-1 order-lg-2" @*data-aos="fade-left" data-aos-delay="100"*@>
                <img width="300" src="~/assets/img/ins1.jpg" class="img-fluid" alt="" style="border-radius: 5px;">
            </div>
            <div style="width:60%;" class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" @*data-aos="fade-right" data-aos-delay="100"*@>
                <h3>Welcome to my Tutoring Services Company</h3>
                <p class="fst-italic">
                    Empowering Students, Excelling Together!
                </p>
                <p>
                    I'm the co-founder of the premier platform for University of Greenwich students, offering top-notch assignment assistance. With a dedicated team, I deliver high-quality, tailored assignments that meet university standards. With my prompt service and commitment to excellence, I'm here to support your academic success. Trust me for reliable guidance at the University of Greenwich.
                </p>
                <ul>
                    <li><i class="fa-solid fa-star"></i> Boost your scores with exceptional academic support and valuable references.</li>
                    <li><i class="fa-solid fa-star"></i> Expand your knowledge and research skills for a rewarding educational experience.</li>
                    <li><i class="fa-solid fa-star"></i> Enhance your learning journey with comprehensive academic assistance and resources.</li>
                </ul>
            </div>
        </div>

    </div>
</section><!-- End About Section -->



<!-- ======= Services Section ======= -->
<section id="services" class="services" style="margin-top:30px;">
    <div class="container" @*data-aos="fade-up"*@>

        <div class="section-title">
            <h2>Subjects</h2>
            <p>Check our Hottest subjects</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" @*data-aos="zoom-in" data-aos-delay="100"*@>
                <a href="ww">
                    <div style=" width: 415px;" class="icon-box">
                        <div class="icon"><i class="fa-solid fa-fire"></i></div>
                        <h4>AEG115</h4>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" @*data-aos="zoom-in" data-aos-delay="200"*@>
                <a href="ww">
                    <div style=" width: 415px;" class="icon-box">
                        <div class="icon"><i class="fa-solid fa-fire"></i></div>
                        <h4>AEG115</h4>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" @*data-aos="zoom-in" data-aos-delay="300"*@>
                <a href="ww">
                    <div style=" width: 415px;" class="icon-box">
                        <div class="icon"><i class="fa-solid fa-fire"></i></div>
                        <h4>AEG115</h4>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" @*data-aos="zoom-in" data-aos-delay="100"*@>
                <a href="ww">
                    <div style=" width: 415px;" class="icon-box">
                        <div class="icon"><i class="fa-solid fa-fire"></i></div>
                        <h4>AEG115</h4>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" @*data-aos="zoom-in" data-aos-delay="200"*@>
                <a href="ww">
                    <div style=" width: 415px;" class="icon-box">
                        <div class="icon"><i class="fa-solid fa-fire"></i></div>
                        <h4>AEG115</h4>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" @*data-aos="zoom-in" data-aos-delay="300"*@>
                <a href="ww">
                    <div style=" width: 415px;" class="icon-box">
                        <div class="icon"><i class="fa-solid fa-fire"></i></div>
                        <h4>AEG115</h4>
                    </div>
                </a>
            </div>
        </div>


    </div>
</section><!-- End Services Section -->


<section id="contact" class="contact" style="margin-top:60px;">
    <div class="container" style="margin-bottom: 20px;">

        <div class="section-title">
            <h2>Contact</h2>
            <p>Contact Us</p>
        </div>

        <div>
            <iframe style="border:0; width: 100%; height: 380px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.677267384661!2d108.23336217479888!3d16.082228684599112!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31421827a3c439f5%3A0xdec2fb897aa16a90!2sGreenwich%20Vi%E1%BB%87t%20Nam!5e0!3m2!1svi!2s!4v1688203898607!5m2!1svi!2s"></iframe>
        </div>
    </div>
</section>


<!-- CDN of running words -->
<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
<!-- JS of running words -->
<script>
    var typed = new Typed(".auto-type", {
        strings: ["organized structure", "logical flow", "proper formatting", "user-friendly layout", "clear and concise writing"],
        typeSpeed: 70,
        backSpeed: 35,
        loop: true
    })
</script>