@model IEnumerable<MBasmProject.Models.Order>

@{
    Layout = null;
}

<h3 class="mb-4">My Files</h3>
<!-- ======= Team Section ======= -->
<section id="team" class="team" style="background:none; padding: 0;">
    <div class="container">
        <div class="row">
            @foreach (var orderDetail in Model.SelectMany(order => order.Order_Detail))
            {
                var assignment = orderDetail.Assignment;
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <div class="member-img">
                            @{
                                string[] images = assignment.Images.Split(',');
                                <img src="/assets/img/Asm/@images[0]" class="img-fluid" alt="">
                            }
                        </div>
                        <div class="member-info">
                            <h4>@assignment.Title</h4>
                            <div class="infoPreviewFile">
                                <span>
                                    <i class="fa-regular fa-file-lines"></i>
                                </span>
                                <span>
                                    <i class="fa-solid fa-arrow-down"></i> Download
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            }


        </div>

    </div>
</section><!-- End Team Section -->