
@{
    Layout = null;
}

<h3 class="mb-4">Saved Files</h3>
<table class="content-table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Grade</th>
            <th>Price</th>
            <th>Type</th>
            <th>Download</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Domenic</td>
            <td>M</td>
            <td>20000</td>
            <td>PDF</td>
            <td><i class="fa-solid fa-file-arrow-down"></i></td>
        </tr>
    </tbody>
</table>
